<section id='edit'>
  <div class='verily_logo'>
    <%= image_tag "verily_logo.png" %>
    <p class='vip'>vip</p>
  </div>
  <div class="hero">
    <div class="share-wrap">
      <p class="title proxima">Sign Up!<br><span class="underline">&nbsp &nbsp &nbsp</span></p>
    </div>
  </div>

<%= render "user_details" %>

</section>
