<section id='faq'>
  <div class="hero faq-hero">
    <div class='verily_logo'>
      <%= image_tag "verily_logo.png" %>
      <p class='vip'>vip</p>
    </div>
    <h1 class="cover-title">All the Answers<br><span class="underline">&nbsp; &nbsp;</span></h1>
  </div>
  <div class="faq-box">
    <h1>What do Verily VIPS do?</h1>
    <p>VIPS (”Verily Important People”—yeah we love our wordplay!) are people just like you who love Verily and want to share our articles. You’re probably doing this anyway, so why not get rewarded for it?</p>

    <h1>What do Verily VIPS get in return for spreading the word?</h1>
    <p>Once you become a Verily VIP we consider you a vital part of the #VerilySquad. We’ll give you exclusive news about Verily including internship opportunities, invitations to special Verily Ambassador events, beautiful Verily swag, the chance to model in our photoshoots, and more.</p>

    <h1>How can I become a Verily VIP?</h1>
    <p>After creating a profile on this website (it only takes a few minutes), you’ll be given a unique URL link which you can then share with your networks by posting on social media, emailing your friends and family, linking from your blog—you name it. You can track your progress here, and you can start sharing Verily in your own time as soon as you’d like to get started.</p>

    <h1>Where can I share Verily?</h1>
    <p>You can share your unique referral link (generated in your user area) with anyone you like through your social network, by email, through your blog, or by signing people up with your referral link, as long as they agree to being signed up.</p>

    <h1>What should I say when I introduce Verily?</h1>
    <p>If you need some inspiration, here’s how we introduce ourselves: Verily is a photoshop-free women’s lifestyle site that’s “less of who you should be, more of who you are.” Our mission is to inspire women to be the best versions of themselves by starting a fresh conversation about what it means to be 21st century women leading authentically empowered lives. We publish insightful and relatable articles on everything from fashion and beauty to relationships, healthy living, and popular culture and news. We champion diverse beauty with our no-photoshop policy, aiming to show everyone at their best while also firmly believing that “your best” is not “a work of fiction.” We’ve been featured on Upworthy, the Huffington Post, the New York Post, LeanIn.org, and more.</p>

    <h1>Is anything “against the rules”?</h1>
    <p>Signing people up without their permission, signing up fake email addresses, or purchasing email addresses and signing them up are all big no-nos. If you don’t follow these guidelines not only will you risk being removed from the Verily VIP program, it will also cause some serious spam issues for our email list. Not good!</p>

    <h1>What should I do if I experience technical problems?</h1>
    <p>If this website isn’t working, please email ohhello@verilymag.com.</p>
  </div>

  <div class="buttons">
      <!-- <%= link_to "MY ACCOUNT", user_path(@user.id) if @user %>
      <%= link_to "MY REWARDS", refer_a_friend_url if @user %> -->
  </div>

  <div class="faq_thank_you">
    Thank you for supporting Verily!
  </div>
  <div class="social-links">
    <a href="http://www.facebook.com/verilymag" class="fb" target="_blank"></a>
    <a href="http://twitter.com/verilymag" class="twit" target="_blank"></a>
    <a href="https://plus.google.com/s/verily%20magazine/top" class="goog" target="_blank"></a>
  </div>
</section>
