<section id='subscriber-landing'>
  <div class='verily_logo'>
    <%= image_tag "verily_logo.png" %>
  </div>
  <div class='cover'>
    <div class='text_box'>
      <h1 class='cover-title thanks-title'>Thanks for Signing Up!<br/><span class="underline">&nbsp &nbsp</span></h1>
      <h3 class='cover-subtitle thanks-subtitle'>We're so glad you've joined the conversation—you'll be seeing us
      soon in your inbox. If you don't see an email from us soon,
      check out your spam folder or "Promotions" tab if you're on Gmail, and
      make sure to add us as a contact or move usto your main inbox so that
      you don't miss any of the goodness.
      We hope you enjoy the journey as much as we do.</h3>
    </div>
    <div class='signup_forms'>

    </div>
    <div class='find_out_more thanks-find-more'>
      <%= link_to "GET TO KNOW VERILY", 'https://verilymag.com' %>
    </div>
    <div class="social-links">
      <a href="http://www.facebook.com/verilymag" class="fb" target="_blank"></a>
      <a href="http://twitter.com/verilymag" class="twit" target="_blank"></a>
      <a href="https://www.instagram.com/verilymag/" class="insta" target="_blank"></a>
    </div>
  </div>
</section>
