<section id="subscriber_signup">
  <div class='verily_logo new_sus'>
    <%= image_tag "verily_logo.png" %>
  </div>
  <p class="headtitle freight italic">“Less of who you should be, more of who you are”</p>
  <h1 class='cover-title'>Welcome to Verily!<br/><span class="underline">&nbsp &nbsp</span></h1>
  <p class="subtitle proxima">Your friend thought we'd get along</p>
  <div class='cover'>
    <div class='text_box new_sus_img'>
      <h3 class='cover-subtitle new-sus-subtitle'>Have you ever looked at mainstream women’s magazines and felt like they fail to reflect your life, philosophies, and interests? Verily was born out of a desire to start a fresh conversation about culture, beauty, relationships, and healthy living.
        <br/> <br/> Our mission is to empower and inspire women to be the best versions of themselves. We are championing diverse, real beauty with our no-photoshop policy and recognize our responsibility to affirm life-giving attitudes through our content. We would love for you to join the conversation.
      </h3>
      <% if flash[:notice] %>
        <div class="sus-notice"><%= flash[:notice] %></div>
      <% end %>
    </div>
    <div class='signup_forms'>

      <p class='proxima new-sus-proxima'>Sign up to get a daily dose of Verily in your Inbox</p>
      <div class="new_subscriber_form">
        <%= render "form" %>
      </div>
    </div>
    <br/>
    <div class='find_out_more new_visit'>
      <%= link_to "VISIT VERILY", 'https://verilymag.com' %>
      <p>
        Hang out with us #VerilyMoment
      </p>
    </div>
    <div class="social-links">
      <a href="http://www.facebook.com/verilymag" class="fb" target="_blank"></a>
      <a href="http://twitter.com/verilymag" class="twit" target="_blank"></a>
      <a href="https://www.instagram.com/verilymag/" class="insta" target="_blank"></a>
      <a href="https://www.pinterest.com/verilymag/" class="pintrest" target="_blank"></a>

    </div>
  </div>
</section>
