form{
	margin-bottom: 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

html {
	height: 0;
}


/* Home */

html.home{
	background-color: white;
	height: 0;
}

#home .form-wrap.ended{
	width: 500px;
	margin-top: 27px;
}

#home .form-wrap.ended .thanks{
	text-transform: uppercase;
	font-weight: 500;
	color: #074e6f;
	text-align: center;
	font-size: 22px;
	letter-spacing: 1px;
	line-height: 36px;
	margin-bottom: 14px;
}

#home .form-wrap.ended .compiling{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 30px;
	color: #555556;
	text-align: center;
	font-weight: 500;
	margin-bottom: 24px;
}

#home .form-wrap.ended .go-to{
	font-style: italic;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 25px;
}

#home .form-wrap.ended .go-to a{
	color: #074e6f;
	font-size: 19px;
	font-weight:bold;
	text-transform: uppercase;
	font-style: normal;
	text-decoration: none;
}

#home .form-wrap.ended .go-to a:hover{
	color: #955F5D;
}

#home .form-wrap.ended .again{
	font-weight: 500;
	color: #555556;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}

#home .form-wrap.ended{
	width: 500px;
	margin-top: 27px;
}

#home .form-wrap.ended .thanks{
	text-transform: uppercase;
	font-weight: 500;
	color: #074e6f;
	text-align: center;
	font-size: 22px;
	letter-spacing: 1px;
	line-height: 36px;
	margin-bottom: 14px;
}

#home .form-wrap.ended .compiling{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 30px;
	color: #555556;
	text-align: center;
	font-weight: 500;
	margin-bottom: 24px;
}

#home .form-wrap.ended .go-to{
	font-style: italic;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 25px;
}

#home .form-wrap.ended .go-to a{
	color: #074e6f;
	font-size: 19px;
	font-weight:bold;
	text-transform: uppercase;
	font-style: normal;
	text-decoration: none;
}

#home .form-wrap.ended .go-to a:hover{
	color: #955F5D;
}

#home .form-wrap.ended .again{
	font-weight: 500;
	color: #555556;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}



/* Refer a friend page */

.wf-loading .brandon{
	visibility: hidden;
}

#refer{
	height: 500px;
	top: 0px;
	width: 100%;
	margin-bottom: 50px;
	border-bottom: medium none;
}

#refer .hero,
#show .hero,
#edit .hero,
#subscriber_signup .hero {
  background-image: url(/assets/dashboard/hero.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
	height: 360px;
}

#refer .page-content,
#show .page-content {
	max-width: 900px;
	margin: 0 auto;
	z-index: 0;
	position: relative;
}

#refer input {
    height: 35px;
    border-radius: 0px;
    font-size: 14px;
    width: 85%;
    margin: 10px 0px 25px 50px;
    text-align: center;
    line-height: 30px;
}

#refer p{
    color: black;
    font-family: "proxima-nova", sans-serif !important;;
    width: auto;
		font-weight: 500;
}

#refer .share-wrap{
	width: 600px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .13em;
	margin: 0 auto;
}

#refer .share-wrap .big_blue {
	color: #666699;
	font-weight: bold;
	font-size: 1.5em;
}

#refer .share-wrap .place {
	margin-top: -1em;
}

#refer .share-wrap .title,
#show .title,
#edit .title,
#subscriber_signup .title {
	font-size: 25px;
	line-height: 35px;
	text-transform: uppercase;
	font-weight: 100;
	color: black;
	padding-top: 50px;
	letter-spacing: .13em;
}

#refer .share-wrap .subtitle{
	color: #565656;
	font-size: 15px;
	text-transform: none;
	margin-top: 30px;
	text-transform: uppercase;
}

#refer .share-wrap .copy-link,
.copy-link {
	border: 1px solid #D1D0C7;
	background: #FFF;
	padding: 10px 0;
	width: 320px;
	font-family: "proxima-nova";
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	margin: 10px auto 0;
	letter-spacing: .13em;
	text-align: center;
}

.code-link {
	border: 1px solid #D1D0C7;
	background: #FFF;
	padding: 10px 0;
	width: 380px;
	font-family: "proxima-nova";
	text-transform: none;
	font-weight: bold;
	font-size: 11px;
	margin: 10px auto 0;
	letter-spacing: .13em;
	text-align: center;
}

.bottom_link {
	text-align: center;
	clear: both;
	background-color: #f5f5f5;
	padding: 10px 30px 10px 30px;
	font-family: "proxima-nova";
	text-transform: uppercase;
	width: 400px;
	margin: 2% auto;
}

#refer .buttons,
#faq .buttons,
#show .buttons,
#edit .buttons {
	text-align: center;
	clear: both;
	padding: 50px;
	a {
		padding: 10px 30px 10px 30px;
		text-transform: uppercase;
		text-decoration: none;
		height: 28px;
		width: 90px;
		border-radius: 0px;
		border: 1px solid black;
		line-height: 12px;
		font-size: 12px;
		font-weight: 100;
		letter-spacing: 1px;
		background-color: #182343;
		color: #FFF;
		font-family: "proxima-nova", sans-serif;
		display: inline;
		margin-right: 15px;
		margin-left: 15px;
	}
}

.bottom_text {
	opacity: 0.7;
	letter-spacing: 4px;
}

.social-links{
	width: auto;
	height: 37px;
	margin: 10px auto 25px;
	text-align: center;
}

.social-links a, #refer .share-wrap .social-links div{
	display: inline-block;
}

.social-links .fb{
	background: image-url("dashboard/fb.png");
	background-size: 27px 27px;
	width: 27px;
	height: 27px;
	margin: 6px;
}

.social-links .twit{
	background: image-url("dashboard/twit.png");
	background-size: 27px 27px;
	width: 27px;
	height: 27px;
	margin: 6px;
}

.social-links .goog{
	background: image-url("dashboard/goog.png");
	background-size: 27px 27px;
	width: 27px;
	height: 27px;
	margin: 6px;
}

.social-links .insta{
	background: image-url("dashboard/insta.png");
	background-size: 27px 27px;
	width: 27px;
	height: 27px;
	margin: 6px;
}

#refer .product_images {
	text-align: center;
	margin-bottom: 40px;
	img {
		width: 17%;
		margin: 4%;
	}
}

#refer .prizes{
	width: 100%;
	background: #FFF;
}

#refer .prizes .page-content{
	position: relative;
}

#refer .prizes .callout{
	text-align: center;
	font-size: 16px;
	color: black;
  font-family: "freight-big-pro" !important;
	letter-spacing: 2px;
	margin-top: 70px;
	font-weight: 800;
}

#refer .progress-chart {
	clear: both;
}

#refer .prizes .progress{
	height: 340px;
	width: 4px;
	background-color: #d4d4d4;
	position: absolute;
	top: 15px;
	left: 13px;
	z-index: 0;
}

#refer .prizes .progress .mover{
	position: absolute;
	top: 0;
	left: 0;
}

#refer .prizes .progress .mover .bar{
	background-color: #4b5688;
	width: 4px;
	height: 42px;
}

#refer .prize-two .progress .mover .bar{ height: 68px; }
#refer .prize-three .progress .mover .bar{ height: 136px; }
#refer .prize-four .progress .mover .bar{ height: 204px; }
#refer .prize-five .progress .mover .bar{ height: 272px; }


#refer .prizes ul.products{
	width: 400px;
	margin-top: 30px;
	position: relative;
	z-index: 1;
	margin: 0 auto;
}

#refer .prizes .products li.product{
	color: #074E6F;
	width: 400px;
	position: relative;
	display: block;
	margin-top: 50px;
	margin-bottom: 50px;
}

#refer .prizes .products li.product .circle{
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	border: 1px solid #DAD9D2;
	text-align: center;
	line-height: 30px;
	color: #868282;
	overflow: hidden;
	background-color: #e0e7ee;
	vertical-align: middle;
}

#refer .prizes .products li.product .stop_count{
	width: 268px;
	text-align: left;
	margin-left: 100px;
	font-weight: 500;
	font-family: "proxima-nova", sans-serif;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
}

#refer .prizes .products li.product:last-child{
	margin-right: 0;
}

#refer .prizes .products li.product.last{
	margin-right: 0;
}

#refer .prizes .products li.product.selected,
#refer .prizes .products li.product:first-of-type {
	.circle{
		background: #074E6F !important;
		border-color: #074E6F !important;
		color: #FFF !important;
	}

	p {
		color: #995F5E !important;
	}
}

#refer .prizes p.place{
	text-align: center;
	font-size: 16px;
	color: #074E6F;
	width: 100%;
	font-weight: 500;
	margin-top: 30px;
}

#refer .prizes p.place span{
	color: #995F5E;
}

/// show page

#show, #edit {
	text-align: center;
	.verily_logo {
		img {
			height: 120px;
	    width: auto;
	    margin: 30px 24px;
	    @media screen and (max-width: 600px) {
	      height: 100px;
	      width: auto;
	    }
		}
		.vip {
			text-align: center;
			text-transform: uppercase;
			font-weight: 100;
			font-family: "proxima-nova", sans-serif !important;
			font-size: 1.6em;
			letter-spacing: 3px;
			position: relative;
			top: -80px !important;
			left: -8px;
			@media (min-width: 1023px) {
				left: -24px;
			}
			@media screen and (max-width: 600px) {
				top: -75px;
				font-size: 1em;
			}
		}
	}
	.title {
		clear: both;
		padding-top: 0px;
	}
}

#show .blue {
	margin-top: 40px;
	color: #666699;
	font-weight: bold;
	font-family: "proxima-nova";
	letter-spacing: 2.5px;
	text-align: left;
	margin-left: 40%;
}

#show .user-details {
	width: 460px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "proxima-nova";
	opacity: 0.7;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.user-info li {
	list-style: none;
	line-height: 1.5em;
	text-align: left;
	margin-left: 24%;
}

#show .edit-button {
	text-align: left;
	clear: both;
	margin-top: 20px;
	margin-bottom: 70px;
	margin-left: 40%;
	a {
		padding: 10px 30px 10px 30px;
		text-transform: uppercase;
		text-decoration: none;
		height: 28px;
		width: 90px;
		border-radius: 0px;
		border: 1px solid black;
		line-height: 12px;
		font-size: 12px;
		font-weight: 100;
		letter-spacing: 1px;
		background-color: #26263D;
		color: white;
		font-family: "proxima-nova", sans-serif;
		display: inline;
	}
}

#show .blogger-badge {
	margin-top: 60px;
	h1 {
		font-family: "proxima-nova";
		text-transform: uppercase;
		letter-spacing: 4px;
	}
	.badge {
		display: inline;
		img {
			height: 100px;
	    width: auto;
	    margin: 30px 24px;
		}
		.vip {
			text-align: center;
			text-transform: uppercase;
			font-weight: 100;
			font-family: "proxima-nova", sans-serif !important;
			font-size: 1.2em;
			letter-spacing: 3px;
			position: relative;
			top: -70px !important;
			left: -6px;
		}
	}
}

#show .get-sharing {
	font-family: "proxima-nova", sans-serif;
	text-transform: uppercase;
	font-size: 1.2em;
	margin-bottom: 20px;
}

.header_nav {
	height: 40px;
	background-color: #7b8faf;
	text-align: right;
	color: white;
	line-height: 40px;
	font-family: "proxima-nova";
	font-size: 13px;
	font-weight: lighter;
	letter-spacing: 2.5px;
}

.header_nav ul li {
	display: inline;
	margin-right: 8%;
}

.header_nav a {
	text-decoration: none;
	color: white;
	opacity: 0.6
}

#subscriber_signup {
	h3 {
		font-size: 0.9em;
	}
	p {
		&.headtitle {
			letter-spacing: 2px;
			padding-left: 60px;
		}
	}
	.cover-title {
		position: relative;
		left: 100px;
		top: 100px;
		line-height: 0.8em;
		width: 89%;
	}
	.subtitle {
		margin-top: 40px;
		text-transform: uppercase;
		letter-spacing: 4px;
		color: #374eb5;
		font-weight: 100;
		opacity: 0.8;
		position: relative;
		left: 300px;
		top: 100px;
		text-align: center;
		width: 40%;
	}
	@media screen and (min-width: 1024px){
		background-image: url(/assets/home/landing_sub.png) !important;
	}
	.signup_forms {
		width: 360px;
		padding-top: 20px;
		padding-bottom: 40px;
		margin: 0 auto;
		margin-top: -6%;
		background-color: #e2e6eb;
		p {
			font-size: 10px;
			letter-spacing: 2px;
		}
		.new_subscriber_form {
			width: 256px;
			margin: 0 auto;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	.find_out_more {
		margin-top: -1%;
		p {
			font-size: 12px;
			text-transform: none;
			margin-top: 4px;
		}
	}
	.social-links {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

///// edit page

///// media queries

@media screen and (max-width: 980px){


  #refer article p.small {
    display: none;
  }

  #refer figcaption {
    display: block;
  }


    #refer input {
      height: 30px;
      font-size: 19px;
      margin-top: 10px;
      line-height: 30px;
    }

    #refer figcaption{
      margin-top: 10px;
    }


    #refer h2 {
      padding-top: 20px;
      font-size: 22px;
      padding-bottom: 15px;
    }


}

@media screen and (max-width: 850px){




  #refer input {
    height: 30px;
    font-size: 18px;
    margin-top: 10px;
    line-height: 30px;
  }


  #refer figure{
    margin-top: 18px;
  }

  #refer h2 {
    line-height: 30px;
  }


}


@media screen and (max-width: 800px){



  .refer-left {
    padding: 0;
  }

  #refer input {
    height: 30px;
    font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 30px;
  }


  #refer figure{
    margin-top: 18px;
  }

  #refer h2 {
    line-height: 30px;
  }


}

@media screen and (max-width: 768px){

  #refer input {
    height: 28px;
    font-size: 17px;
    margin-top: 5px;
    line-height: 28px;
  }


  #refer p{
    line-height: 1.15;
  }

}

@media screen and (max-width: 767px){

  #reinforcement p{
    text-align: center;
  }

  #copy h1, #copy h3, #refer p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #refer input{
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }

  #refer p {
    font-size: 17px;
  }

  #refer h1 {
    font-size: 30px;
    margin: 15px auto 20px;
  }


}

@media screen and (max-width: 360px){

  #refer h1 {
    font-size: 27px;
  }

    .cover-heading {
    font-size: 25px;
  }

  #refer p {
    font-size: 15px;
  }

  #refer figcaption p {
    font-size: 14px;
  }
}
